html {
  height: 100%;
  min-height: 100%;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  background: black;
  margin: auto;
  display: grid;
  grid-template: 1fr min-content/1fr; 
  height: 100%;
}

.video-container {
  top:0;
  left: 0;
}

#video {
  width: 100%;
  height: 75%;
  object-fit: cover;
  z-index: 0;
}

.camera-controls{
  position: fixed;
  background-color: black;
  bottom: 0;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1em;
}

#canvas {
  display: none;
}

#photo {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  align-self: center;
  justify-self: center;
}

button {
  outline: none;  
  color: white;
  opacity: 1;
  background: transparent;
  border: solid 2px #fff;
  padding: 0;
  text-shadow: 0px 0px 4px black;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: auto;
}

.snap {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  align-self: center;
  justify-self: center;
}

#snap:active {
  background-color: #fff;
}

#expand {
  background-image: url('assets/flip_camera.svg');
  background-size: cover;
}

#expand[aria-pressed='true'] {
 
}


@media (screen-fold-posture: laptop) {
  
   body {
     
     display: flex;
     flex-flow: column nowrap;
   }
   .video-container .camera-controls {
     flex: 1 1 env(fold-bottom);
   } 
}
